.navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 99;
   }

.navbar_logo {
  width: 250px; 
  height: 80px; 
  margin-top: 20px; 
  margin-left: 5%;
   }

.pp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; }

.scrollable_header {
  min-width: 100vw;
  max-width: 100vw;
  height: 490px;
  background-color: #2ECC71; }

.scrollable_body {
  min-width: 100vw;
  max-width: 100vw;
  /*height: 730px;*/
  /*background-color: #f7f7f7;*/ }

.work_gallery_section {
  background-color: #f7f7f7;
  /*background-color: red;*/
  height: 400px;
  /*width: 100%;*/ }

.scrollable_footer {
  max-height: 380px;
  background-color: #1E2022;
  color: #FFF;
  position: relative;
  top: 400px;
  z-index: 1; }

.footerbar {
/*  position: absolute;
*/  width: 100%;
  bottom: : 0px;
  z-index: 11;
   }
   
.offcanvas-btn_style {
   width: 53px; 
   height: 53px;
   }

.circle_button_line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: #AB40FA;
  -webkit-transition: background-color 0.35s, -webkit-transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.35s, transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0); }

.circle_button_line_1 {
  top: 1px;}

.circle_button_line_2 {
  top: 6px;}

.circle_button_line_3 {
  top: 11px; }


/*上下預留控間 -begin*/
/*上下預留控間 -end*/
